<article>
  <header class="post-header">
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2 class="post-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
  </header>
  <div class="post-thumbnail">
    <a class="post-link" href="{{ post.url | relative_url }}"><img src="http://placehold.it/450x300"></a>
  </div>
  <div class="post-content">
    {{ post.excerpt | strip_html }}
  </div>
  <footer class="post-footer">
    Share on: <i class="fa fa-facebook-official" aria-hidden="true"></i> <i class="fa fa-twitter-square" aria-hidden="true"></i>
  </footer>
</article>
