body {
  background: #1d1e20;
}

.core {
  background: #121314;
  color: #fff;
}

.light {
  background: #eee;
  color: #333;
}

.toppad {
  padding-top: 0;
  @include breakpoint(medium) {
    padding-top: 60px;
  }
}

.nopad {
  padding-top: 0;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

@mixin navlit() {
  color: #888;
  transition: color 0.3s;
  &:hover {
    color: #fff;
    transition: color 0s;
  }
}