@font-face {
  font-family: 'Denmark';
  src: url('../fonts/jmp-denmark.eot');
  src: url('../fonts/jmp-denmark.eot?#iefix') format('embedded-opentype'),
    url('../fonts/jmp-denmark.woff2') format('woff2'),
    url('../fonts/jmp-denmark.woff') format('woff'),
    url('../fonts/jmp-denmark.ttf') format('truetype'),
    url('../fonts/jmp-denmark.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
