.bot {
  background: #1d1e20;
  border-top: 1px solid #3d3f44;
  color: #fff;

  .bottom-left {
    align-items: center;
  }

  .bottom-right {
    align-items: center;
    text-align: center;
    @include breakpoint(medium) {
      text-align: right;
    }
  }

  .botnav {
    height: 40px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    .menu {
      a {
        font-size: rem-calc(14);
        line-height: 36px;
        @include navlit()
      }
      .active a {
        background: transparent;
        color: #fff;
      }
    }
  }

  .socialnav {
    display: inline-block;
    .menu {
      a {
        font-size: rem-calc(20);
        line-height: 36px;
        @include navlit()
      }
    }
  }

  .copycard {
    font-family: 'Open Sans', sans-serif;
  }
}
