.top {
  position: fixed;
  width: 100%;
  background: rgba(31, 32, 34, 0.85);
  border-bottom: 1px solid #3d3f44;

  @include breakpoint(small down) {
    position: relative;
    height: auto;
    .columns {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3d3f44;
    @include breakpoint(medium up) {
      border-bottom: 0;
      justify-content: flex-start;
    }
    @include slim();
    a {
      font-family: 'Denmark';
      font-weight: normal;
      color: #ccc;
      font-size: rem-calc(36);
      @include slimlogo();
    }
  }

  .topnav {
    font-family: 'Open Sans', sans-serif;
    .menu {
      align-items: initial;
      height: 50px;
      @include breakpoint(medium up) {
        height: 60px;
      }
      @include slim();
      li {
        display: flex;
        flex: 1;
        &:first-child {
          display: none;
          @include breakpoint(medium up) {
            display: flex;
          }
        }
      }
      a {
        padding: 0;
        font-size: rem-calc(14);
        font-weight: 400;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: color 0.3s;
        align-items: center;
        justify-content: center;
        flex: 1;
        @include breakpoint(medium up) {
          padding: 0 15px;
        }
        @include navlit();
      }
      .active a {
        background: transparent;
        color: #fff;
        border-bottom: 2px solid #17abf0;
      }
    }
  }
}