body {
  background: #1d1e20;
}

.core {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .top {

  }
  .main {
    background: #121314;
    color: #fff;
    flex: 1 1 100%;
  }
  .bot {

  }
}

.light {
  background: #eee;
  color: #333;
}

.toppad {
  padding-top: 0;
  @include breakpoint(medium) {
    padding-top: 60px;
  }
}

.nopad {
  padding-top: 0;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
