---
layout: default
title: Blog
---
<div class="blog">
  <div class="row">
    <div class="large-12 columns">
      <div class="row medium-unstack">
        <div class="large-8 medium-7 columns">
          <h3>{{page.title}}</h3>
          {% for post in paginator.posts %}
            {% include post.html post=post %}
          {% endfor %}
        </div>
        <div class="large-4 medium-5 columns">
          {% include sidebar-blog.html %}
        </div>
      </div>
      {% include pagination.html %}
    </div>
  </div>
</div>
